<div class="sg-screen">
  <div class="sg-settings">
    <mat-form-field>
      <mat-label>Row</mat-label>
      <input matInput type="number" placeholder="Row" required  [formControl]="rowControl" (focusout)="onFocusOut()">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Column</mat-label>
      <input matInput type="number" placeholder="Column"required [formControl]="columnControl" (focusout)="onFocusOut()">
    </mat-form-field>
  </div>
  <div class="sg-container">
    <table class="sg-grid" *ngIf="isStarted else waitToStart">
      <tr *ngFor="let row of rows; let i = index">
        <td *ngFor="let column of columns; let j = index" 
          [ngClass]="{'sg-clicked': curStep > numbers[columns.length * i + j]}"
          (click)="onBlockClick(numbers[columns.length * i + j])">
          {{ numbers[columns.length * i + j] }}
        </td>
      </tr>
    </table>
    <ng-template #waitToStart>
      <button mat-icon-button type="button" style="align-self: center; transform: scale(3);" color="primary"
        (click)="onStartClick()">
        <mat-icon>
          play_circle
        </mat-icon>
      </button>
    </ng-template>
  </div>
</div>